# Introduction to Pandas

# Series

A series is a one-dimesnional array wih axis labels(an index)

In [1]:
#importing libraries and packages
import numpy as np
import pandas as pd

In [5]:
x = pd.Series([10,20,30,40,50])
x

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [6]:
# We can access different components seperately:
# Accessing the index
x.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
# Accessing the dtyoe
# A series is an ndarray, hus it's homogeneous and CANNOT store multiple dtypes

x.dtypes

dtype('int64')

In [10]:
# Creating a seris with an Index
data = [450,650,870]
Sales = pd.Series(data, index =["Don", "Mike", "Edwin"])
Sales

Don      450
Mike     650
Edwin    870
dtype: int64

In [11]:
type(Sales)

pandas.core.series.Series

In [12]:
Sales.index

Index(['Don', 'Mike', 'Edwin'], dtype='object')

### Accessing Values

In [17]:
# You can access values using the index name
Sales["Don"]

450

### Checking for Conditions

In [18]:
# You can filter based on conditions.
Sales > 500

Don      False
Mike      True
Edwin     True
dtype: bool

In [20]:
# We can-use these booleans
Sales[[False, True, True]]

Mike     650
Edwin    870
dtype: int64

In [21]:
#If we want to see values greater than 500
Sales[Sales>500]

Mike     650
Edwin    870
dtype: int64

In [22]:
#Checking names in the index
"Don" in Sales

True

In [23]:
#False example
"Sally" in Sales

False

In [25]:
450 in Sales
# 450 is not an inex, it is a value, Thus it will return False

False

### Working with Dictionaries

In [27]:
# Converting a Seris to a dictionary
sales_dict = Sales.to_dict()
sales_dict

{'Don': 450, 'Mike': 650, 'Edwin': 870}

In [33]:
#Converting a dict to a series
sales_ser = pd.Series(sales_dict)
sales_ser

Don      450
Mike     650
Edwin    870
dtype: int64

### Adding entries and working with Nan/null Values

In [37]:
#We can create a new seriees froma n existing series
# if we specify namees in the inex that were NOT there already, NaN values will be assignes
new_sales = pd.Series(Sales, index = ["Don", "Mike", "Sally", "Edwin", "luct"])
new_sales

Don      450.0
Mike     650.0
Sally      NaN
Edwin    870.0
luct       NaN
dtype: float64

In [40]:
# We can check if there are any NaN values in a Series.
#For this we use Numpy!
np.isnan(new_sales)

Don      False
Mike     False
Sally     True
Edwin    False
luct      True
dtype: bool

In [41]:
# To check for NULL values use Pandas?
pd.isnull(new_sales)

Don      False
Mike     False
Sally     True
Edwin    False
luct      True
dtype: bool

### Naming componens in a Series

In [45]:
# Name an index
Sales.index.name = "Sales Person"
Sales

Sales Person
Don      450
Mike     650
Edwin    870
dtype: int64

In [46]:
# Naming a Series
Sales.name = "Total tv sales"
Sales

Sales Person
Don      450
Mike     650
Edwin    870
Name: Total tv sales, dtype: int64

## Dataframes

Dataframes are two-dimensional, size-mutable, potentially heterogeneous tabular data structures. This data structure contains TWO Labelle axes (rows and collumns)

### Creating a Dataframe

In [51]:
# Creating a Dataframe from a list
data = [["Adrian", 20], ["Bethany", 23], ["Chloe", 41]]

# When we create a Dataframe, we can specify what the column names are and the data tupe is
df = pd.DataFrame(data, columns = ["Name", "Age"])

df

      Name  Age
0   Adrian   20
1  Bethany   23
2    Chloe   41