# Numpy

numpy is a library which provides support for large, homogeneous, multi-dimensional arrays and matrices

In [2]:
#import numpy
import numpy as np

# Creating an Arra in Numpy

## creating an array from a list

In [3]:
list1 = [10, 20, 30]
list1

[10, 20, 30]

In [4]:
arr1 = np.array(list1)
arr1

array([10, 20, 30])

In [5]:
type(arr1)

numpy.ndarray

### Using arange to create an array

The difference between array and arange is that array takes in a list and turns it into an array, whereas arange creates an array from a range of numbers

In [6]:
arr2 = np.arange(10, 20, 1) #(start,stop,stepsize)
arr2

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

## Multidimesnional arrays

### combining two list - two dimesnional arrays

when we combine arrays togetherm we can ad dimensions. Combining two arrays gives us a 2d array!

This creates a matrix fro us on which we can perform matrix operations

In [7]:
#let's create a new list to join onto the first list
list2 = [40,50,60]

#join the lists
list3 = [list1, list2]

#create an array out of the joined lists
arr3 = np.array(list3)
arr3

array([[10, 20, 30],
       [40, 50, 60]])

In [8]:
#let's find the shape of that array
# we have a 2 array with 2 elements in the first instance and 3 in the second
arr3.shape

(2, 3)

### Three-dimesnional arrays

In [9]:
arr3dim = np.array([[[1,2,3], 
                     [3,4,5]], 
                     [[5,6,7], [7,8,9]]])
arr3dim.shape

(2, 2, 3)

## Using Arrays and Scalars
numpy arrays (or ndarray) allow us to perform matrix operations.

In [10]:
# For example, we can use simple multiplication
arr3dim*3

array([[[ 3,  6,  9],
        [ 9, 12, 15]],

       [[15, 18, 21],
        [21, 24, 27]]])

In [11]:
# How is this different than trying to do:
list1 * 3
# Lists and arrays are treatedd differently, see below:

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [12]:
# We can actually multiply an array wih another array

# Create a new array with the same size as arr1

arr11 = np.array(list2)

#multiply the arrays, what will happen?

arr1 * arr11

array([ 400, 1000, 1800])

### Can we multiply arrays of differen shapes?

In [13]:
arr1 * arr2

ValueError: operands could not be broadcast together with shapes (3,) (10,)

The answer is NO!

### It is possible to multiply arrays of different dimension, but they need the same element size!

In [14]:
arr1 * arr3dim

array([[[ 10,  40,  90],
        [ 30,  80, 150]],

       [[ 50, 120, 210],
        [ 70, 160, 270]]])

## Arrays practice

In [15]:
# one dimensional array with 12 elements
onedarray = np.arange(12)
onedarray

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [16]:
#two dimensional array size (3,4)
twodarray = [[10,11,12,13,14,15,16,17,18,19,20], [5,10,15,20,25,30,35,40,45,50]]
twodarray

[[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]]

In [17]:
#three ddimensional array size (2,5,4)
threedarray = threedarray = [
    [
        [1, 2, 3, 4],
        [5, 6, 7, 8],
        [9, 10, 11, 12],
        [13, 14, 15, 16],
        [17, 18, 19, 20]
    ],
    [
        [21, 22, 23, 24],
        [25, 26, 27, 28],
        [29, 30, 31, 32],
        [33, 34, 35, 36],
        [37, 38, 39, 40]
    ]
]

threedarray

[[[1, 2, 3, 4],
  [5, 6, 7, 8],
  [9, 10, 11, 12],
  [13, 14, 15, 16],
  [17, 18, 19, 20]],
 [[21, 22, 23, 24],
  [25, 26, 27, 28],
  [29, 30, 31, 32],
  [33, 34, 35, 36],
  [37, 38, 39, 40]]]

### Accessing the values inside ndarrays
let's take arr3 as our example, this was a 2d array

In [18]:
arr3

array([[10, 20, 30],
       [40, 50, 60]])

In [19]:
#we can use indexing
arr3[1][2]

#We can just use a comma!
arr3[1,2]

60

In [20]:
# how can I get the bottom "row" of this ndarray?
arr3[1]

array([40, 50, 60])

In [21]:
#How about if we just want the last COLUMN?
# : Means everything, so see below:
arr3[:, 2]

array([30, 60])

## Statistical functions and arrays

There are a number of builtin statistical functions we can use with numpy

In [22]:
# Finding the sum of all values
arr3.sum()

210

In [23]:
# Findding the sum of all columns
arr3.sum(0)

array([50, 70, 90])

In [24]:
# Findimg the sum of all rows
arr3.sum(1)

array([ 60, 150])

In [25]:
# Finding the mean
arr3.mean()

35.0

In [26]:
# Finding the mean of all colums
arr3.mean(0)

array([25., 35., 45.])

In [27]:
#Finding Standard Deviation
arr3.std()

17.07825127659933

In [28]:
# Finding variance
arr3.var()

291.6666666666667

In [29]:
# Finding min value

In [30]:
arr3.min()

10

In [31]:
#Findding max value
arr3.max()

60

## Iterating through ndarrays

Simplest way is to use a simple loop

In [32]:
# For a 1d array
for x in arr1:
    print(x)

10
20
30

In [33]:
# How about an n-dimensional array? Use nested loops
for dim in arr3:
    for num in dim:
        print(num)

10
20
30
40
50
60

In [34]:
# There is another way! we can use nditter
#This can be used in sumple scenarios, but also very complex ones
#It tends to be much cleaner for nested loops
for x in np.nditer(arr3):
    print(x)

10
20
30
40
50
60

## Saving and loading in numpy

In [35]:
#To save an array as a file
np.save("new", arr3)

In [36]:
# Load the file
np.load("new.npy")

array([[10, 20, 30],
       [40, 50, 60]])

In [38]:
# Saving as a txt
np.savetxt("new.txt", arr3, delimiter=",")

In [39]:
# Loading a txt
np.loadtxt("new.txt",arr3,  delimiter = ",")

TypeError: Cannot construct a dtype from an array